@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Montez);

* {

  box-sizing: border-box;

}

body{

  font-family: 'Arima Madurai', cursive;
  background-image: url("https://images5.alphacoders.com/371/371124.jpg");
  background-size: 100%;
	line-height: 150%;
  letter-spacing: 1px;
	color:#191970         ;
	padding:0;
	margin:0 auto;
	top:0;left:0;right: 0;
	overflow: hidden;

}

h1
{
	text-align:center;
  color:white;
  
  animation: bounceIn 2s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

div
{

  font-size: 25px;
  margin-top:50px;

}

#main{
  
  line-height: 150%;
	text-align: center;
	border:5px solid white;
  border-style: double;
	height:700px;
	width:900px;
	margin-top:20px;
  margin-left: 100px;
  background-color: black;
  background-image: url("http://i.imgur.com/VQtdhPu.jpg") ;
  background-size: cover;
  font-size: 30px;

}

#formdiv1,#formdiv2,
#formdiv3,#formdiv4,
#formdiv5,#formdiv6,
#formdiv7,#formdiv8,
#formdiv9,#formdiv10,
{

    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    float:left;
    color:#DC143C ;
    

}

#correct,#wrong,
#unans
{
  color:black;
  font-size:30px;
}

#answer
{
  text-align:center;
}

#ans1{

  height: 330px;
  width: 550px;
  border:1px solid white;
}

button {

  background-color:white;
	height:50px;
  width:400px;
  text-align: center;
  border:none;
}

#time
{
  color: white ;
  font-size: 30px;

}

 #start
{
  background-color: #DC143C;
  color:black;
  text-align: center;
}

#yes
{
  font-size: 30px;
  
}


p{

  margin-left: 50px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.options.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.options.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  height:50px;
  width:500px;
  font-size: 35px;
  background-color:   #191970 ;
  color: white ;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}